[Unit]
After=default.target
ConditionFileNotEmpty=/etc/cmdline

[Service]
ExecStart=/sbin/cmdline
Type=idle
StandardInput=tty-force
StandardOutput=inherit
StandardError=inherit
IgnoreSIGPIPE=no
SendSIGHUP=yes
